extends ../layout

block content
  .container
    h1 Projects
    ul.project-list
      each project in projects
        li.project-card
          .project-title
            h3= project.title
          .project-description
            p= project.description
          .project-details
            p Category: #{project.category}
            p Deadline: #{project.deadline}
            if project.link
              a(href=project.link, target="_blank") View Project
